* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;

  font-family: 'BioRhyme', serif;
}

a {
  color: white;
}

.btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
}
