* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;

  font-family: 'BioRhyme', serif;
}

a {
  color: white;
}

.btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
}

.pill {
  padding: 0.25rem 1rem;
  background: none;
  
  border: 2px solid rgb(77, 255, 77);
  border-radius: 1rem;
  
  color: rgb(77, 255, 77);
  font-family: 'BioRhyme', serif;
  font-size: 1.5rem;
}

.pill.lesser {
  border-color: white;
  color: white;
  
}
