header {
  max-width: calc(512px + 20vw);
  margin: 0 auto;

  display: flex;
  align-items: center;

  font-size: 2rem;
}

header .logo {
  position: relative;

  color: white;
  margin-left: 1rem;
  margin-top: 1rem;

  text-transform: uppercase;
}

header .logo::before {
  content: "";

  display: block;
  width: 1rem;
  height: 1rem;
  margin: 0 auto;

  background-color: #555;

  position: relative;
  top: 7px;
  transform: rotate(45deg);
}

header button {
  background: none;
  color: white;

  margin-top: 1rem;
  margin-left: auto;
  padding: 0.5rem;
  border: none;

  position: relative;
  top: 4px;

  font-size: 3rem;
}

header button svg {
  transition: fill 0.25s ease-in-out;
  fill: white;
}

header button svg:hover,
header button svg:focus {
  fill: #4dff4d;
}

header button svg:active {
  fill: #2d942d;
}
